/* Style for the form container */
.add-post-form-container {
    max-width: 500px; 
    margin: 0 auto;
    border: 2px solid #5444e8; 
    border-radius: 15px; 
    background-color: #f2f2f2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}
.add-post-form-container input {
    margin-bottom: 20px; 
}


.add-post-form-container input {
    width: 70%;
    height: 50px; /* Increased height for better readability */
    padding: 15px; /* Increased padding for better spacing */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Increased border radius for smoother corners */
    resize: vertical;
    background-color: #fff; /* White background color */
}

/* Style for button */
.add-post-form-container button {
    /* display: block; */
    width: 15%;
    padding: 12px;
margin-left: 60px;    

    background-color: #4867e2; /* Green button color */
    color: #fff;
    border: none;
    border-radius: 10px; /* Increased border radius for smoother corners */
    cursor: pointer;
    font-size: 18px; /* Increased font size for emphasis */
    transition: background-color 0.3s; /* Smooth hover effect */
}


.add-post-form-container button:hover {
    background-color: #4867e2; 
}
/* Centering the form container */


.add-post-form-container {
    /* height: 50px; */
    position: relative;
    top: 20px;
    padding: 10px;
    border: 2px solid #3f4043;
    border-radius: 15px;
    background-color: #f2f2f2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


a {
    text-decoration: none;
}
.image-upload{
    padding: 5px;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 14%;
}